<p><label>Тип на оглас:</label>{{ advertisement.type}}</p>
<p><label>Категорија:</label>{{ advertisement.category}}</p>

<p><label>Наслов:</label>{{ advertisement.title}}</p>
<p><label>Опис:</label>{{ advertisement.description}}</p>
<p><label>Адреса:</label>{{ advertisement.address}}</p>
<p><label>Град:</label>{{ advertisement.town}}</p>
<p><label>Цена:</label>{{ advertisement.price}}</p>


<form method="GET" action="{{ route('index') }}">

    <input type="hidden" name="_token" value="{{ csrf_token() }}" />
    <button type="submit">Почетна</button>
</form>